body{
    color: aliceblue;
    background-color: black;
}

.teamSinergy{
    height: 85vh;
    width: 100%;
}
.textoMotivador{
    font-size: 30px;
    background-color: #ffc107;
    padding: 10px;
    h1{     
        color: #000000;
        text-align: center;
    }
}

.container-images {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin: 20px 0;

}
.container-images-meio{
    display: grid;
    grid-template-columns: 50% 50% 50%;
    text-align: center;
    margin: 20px 0;
}

.image {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    border-radius: 20px;
}

.image_imagens_meio {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
}


.galeria_imagens_inicio{
    h2{
        color: #ffc107;
    }
    .container-images{
    margin: 50px;
    box-shadow: 0 0 0 5px #ffc107;
    img{
        margin: 20px;
        border-radius: 20px;
    }
}
}

.participacao{
  h1{color: #ffc107; text-align: center; font-size: 100px; font-style:initial}
  h2{color: aliceblue; text-align: center; font-size: 80px;}
}

.galeria_imagens_meio{
    display: inline-block;
    h2{
        padding: 8em 1em; /* Ajuste o valor de padding vertical (primeiro valor) */
        background-color: #ffc107;
        border-radius: 10px;
        padding: 5px;
        margin: 20px;
        color: #000000;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .container-images{
        box-shadow: 0 0 0 5px #ffc107;
    }
    .data{
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        h4{
            color: #ffc107;
        }
    }
    img{
        border-radius: 20px;
        margin: 10px;
    }
}

.textoFormulário{
    padding: 20px;
    font-size: 50px;
    background-color: #ffc107;
    h1{     
        text-align: center;
        color: #000000;
    }
}

.sac-form{
    max-width: 80%;
    height: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffc107;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}

.forms-button{
    border-radius: 5px;


}
.forms-button:hover{
    background-color: #ffff07;
}

.text_title_sac{
    padding-top: 20px;
    margin-left: 50px;
}

.sobre{
    width: 100%;
    margin: 0px;
    font-size: 30px;
    background-color: #100f0d;
    margin-top: 0px;
    h1{
        color: #ffffff;
        text-align: center;
    }
}


.container-lado{
    width: 50%;
    padding: 100px;
    margin: 0px;
    font-size: 30px;
    padding-left: 100px;
    display: inline-block;
    h5{     
        color: #000000;
        text-align: justify;
    }
}

.container-images-lado{
    float: right;
    display: flex;
    padding-top: 40px;
    padding-right: 700px;
    width: 100px;
    img{
        border-radius: 20px;
    }
}

.trajetoria{
    width: 100%;
    padding-top: 100px;
    display: flex;
    img{
        width: 100%;
    }
}

.textosobre{
        display: flex;
}

.dashboard{
    padding-top: 95px;
}
header{
    padding-bottom: 90px;
}
.jogo_de_cartas{
    padding-left: 10%;
    
    width: 650px;
    display: inline-block;
    
    h1{
        color: #ffffff;
        border-radius: 200px;
        width: 140px;
        padding-left: 50%;
    }
    img{
        padding-top: 20px;
    }
}
.textoSinergy2{
    max-width:60%;
    padding: 100px;
    margin: 0px;    
    font-size: 30px;
    padding-left: 20%;
    display: inline-block;
    h1{     
        color: #ffffff;
        text-align: justify;
    }
}
.textoSinergy{
    font-size: 50px;
    padding-bottom: 1%;
    display: inline-block;
    h1{     
        color: #ffffff;
        text-align: justify;
    }
}

.jogoCartas{
    width: 60%;
    height: 80%;
    display: block;
    margin-left: auto;
      margin-right: auto;
}

.textoSinergy_reconhecimentos{
    max-width:60%;
    padding: 100px;
    margin: 0px;    
    font-size: 30px;
    padding-left: 10%;
    display: inline-block;
    h1{     
        color: #ffffff;
        text-align: justify;
    }
}
.premio_sinergy{
    padding-right: 25%;
    
    width: 650px;
    display: inline-block;
    
    img{
        width: 500px;
        height: 650px;
        border-radius: 20px;
    }
}
.reconhecimentos_inicio{
    padding-top: 50px;
}

.container-cartas{
    position: relative;
    width: 350px;
    height: 550px;
}
.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .8s;
}

.frente .tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000001;
    backface-visibility: hidden;
}

.container-cartas:hover .flip{
    transform: rotateY(180deg);
    
}
.frente{
    background-size: cover;
    background-color: orange;
}

.tras{
    background-color: white;
    transform:rotateY(180deg);
    color: black;
    text-align: center;
}
.cartas-dinamicas{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    margin: 20px 0;
}

.main-cartas{
    padding: 2%;
    padding-left: 11%;
}

main{
    flex: 1 1 0;
}

.article-forms, .article-reconhecimento{
    margin-top: 10px;
    margin-left: 20px;
}


@media(max-width: 768px){   
    nav ul{
        flex-direction: column;
        width: 80%;
    }
    header{
        flex-direction: column;
        width: 80%;
    }

    img{
        width: 85%;
    }

    .galeria_imagens_inicio{
        flex-direction: column;
    }

    .jogo_de_cartas{
        flex-direction: column;
        width: 90%;
    }

    .textoSinergy{
        margin-left: -100px;
    }
.textoSinergy2{
    flex-direction: column;
    max-width:80%;
    padding: 0px;
    margin: 0px;  
    margin-left: 20px;
}

}


@media(max-width: 400px){
    .article-forms{
        margin-top: 50px;
    }
}
